<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example</title>
</head>
<body>
  <h1>Home</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui numquam corrupti ratione, est eum eius porro earum dolores reiciendis aspernatur labore alias placeat, maiores, rerum itaque? Voluptatem quis explicabo eos! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto tempore doloremque eum odit illum voluptatum vero. Minus voluptatibus, itaque in earum labore quis saepe atque dicta commodi suscipit repudiandae natus.</p>
</body>
</html>